.row{
    width:400px;
    height: 200px;
    background-color: lightskyblue;
    border:1px solid #000000;
    position: relative;
    margin-top: 10px;
}
.col-1,.col-2,.col-3{
    width: 100px;
    height: 100px;
    border: 1px dotted black;
}
.col-1{
    background-color: chartreuse;
    
}
.col-2{
    background-color: gray;
   position: absolute;
   top: 0%;
   left: 110px;
}
.col-3{
    background-color: indianred;
    position: absolute;
    top: 0%;
    left: 220px;
  
}
.fixed-div{
    background-color: pink;
    border: 1px solid black;
    width: 10%;
    height: 10%;
    position: fixed;
}
.stky{
    background-color: chartreuse;
    position: sticky;
    width: 20%;
    height: 20%;
    top: 50%;
}